.job {
  width: 360px;
  height: 240px;
  background-color: #e4dede;
  position: relative;
  overflow: hidden;

  &:hover {
    .job__text {
      opacity: 1;
    }
  }

  @import "__text/__text.scss";
  @import "__link/__link.scss";
}
